<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="logo">
      <img src="https://img.freepik.com/vector-gratis/lindo-bento-lonchera-japonesa-comida-divertidos-dibujos-animados-ilustracion-colorida-isometrica_198278-434.jpg?size=338&ext=jpg" alt="logo">
    </div>
    <nav class="main-nav">
      <a href="/">HOME</a>
      <a href="/products">PRODUCTOS</a>
      <a href="/about">NOSOTROS</a>

      <% if (usuario) { %>

        <a href="/logout"><%= usuario %> </a>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>

      <% } else { %>   
      
        <a href="/register">Register</a>
        <a href="/login">Log In</a>

      <% } %>

    </nav>
    <section class="products-container">
      <% productos.forEach(product => { %>
        <a href="/products/detail/<%= product.id %>">
          <article>
            <img src="/images/<%= product.image%>" alt="">
            <h2><%= product.name %> </h2>
            <h3>$<%= product.price %></h3>
          </article>
        </a>
      <% }) %>
    </section>
      </body>
      </html>
